.gitattributes
*.vscode
*.json
*.DS_Store
*.kicad_prl
*.kicad_pcb.lck
*.kicad_sch.lck
fp-info-cache
PCB + Schematic/StratoSoar-MK3.0/#auto_saved_files#
PCB + Schematic/StratoSoar-MK3.0/_autosave-StratoSoar-MK3.0.kicad_sch
PCB + Schematic/gpsBreakout/#auto_saved_files#
PCB + Schematic/gpsBreakout/_autosave-gpsBreakout.kicad_sch
